<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="dao.IClientDao">

 
	<insert id="joinClient" parameterType="client" useGeneratedKeys="true"
		keyProperty="useID">
		INSERT INTO client VALUES
		(0,
		#{userEmail},
		#{userPwd},
		#{userName},
		#{userPay},
		#{userLike},
		#{userWallet},
		#{userPhone},
		#{userType},
		#{oauthType},
		#{oauthID},
		#{joinAccept},
		now())
	</insert>

	<select id="isExistClient" parameterType="String" resultType="Integer">
		select count(*) FROM client WHERE userEmail like #{userEmail}
	</select>


	<select id="clientCheck" parameterType="String" resultType="client">
		select * from client where userEmail like #{userEmail}
	</select>
	

	<select id="getClientInfo" parameterType="Integer" resultType="client">
		select * from client where userID = #{userID}
	</select>
	
	
<!-- 	<select id="getClientInfo" parameterType="java.lang.Integer" resultType="java.util.HashMap"> -->
<!-- 		select userEmail, userName, userPhone, joinDate FROM client WHERE userID=#{userID}; -->
<!-- 	</select> -->
	<update id="updateClientInfo" parameterType="java.util.HashMap">
		UPDATE client 
		SET 	<if test="userPwd != null">userPWD=#{userPwd},</if>
				<if test="userName != null">userName=#{userName}, </if>
				<if test="userPhone != null">userPhone=#{userPhone}</if>
		WHERE	userEmail like #{userEmail}
	</update>
	<update id="updateClientPwd" parameterType="java.util.HashMap">
		UPDATE client SET userPWD=#{userPwd} WHERE userID like #{userId}	
	</update>
</mapper>


