<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IGoldDailyDao">

	<resultMap type="goldDaily" id="goldDailyMap">
		<id column="g_id" property="g_id" />
	</resultMap>
	
	<select id="selectAllGoldDaily" resultMap="goldDailyMap">
		SELECT * FROM goldD
	</select>

</mapper>